@import 'tailwindcss';

html, body{
  @apply scroll-smooth select-none;
} 

a,button{
  @apply cursor-pointer;
}

@font-face {
  font-family: Bricolage;
  font-weight: 100 900;
  src: url('../assets/fonts/BricolageGrotesque.woff2') format('woff2');
  font-display: swap;
}

@theme {
  --font-sans:Bricolage,sans-serif;
  --color-primary:#0f0f0f;
  --color-red:#F8E8E3;
  --color-font:#FAF6E9;
}