---
import Content from "../components/Content.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Hero />
  <main class="max-w-[90ch] mx-auto px-4">
    <Content />
  </main>
</Layout>
