---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="min-h-screen bg-no-repeat relative bg-fixed bg-cover">
    <img
      src="/eyes.png"
      draggable="false"
      class="absolute top-0 h-full w-full"
    />
    <div class="relative min-h-screen flex items-center container mx-auto">
      <div class="relative">
        <span class="absolute -top-4 text-white font-extralight">
          Freelancer in real life
        </span>
        <h2 class="text-white text-9xl">Antonio</h2>
      </div>
    </div>
  </section>
</Layout>
