<section class="my-10 flex flex-col gap-4">
  <div>
    <h2 class="text-xl font-bold">Quien Soy?</h2>
    <p class="mt-2 text-justify text-base hyphens-auto">
      Lidero proyectos tecnológicos que nacen de ideas claras y evolucionan
      hacia soluciones concretas. Al mismo tiempo, soy Sombra, autor de El
      diario del otro yo, donde exploro temas como salud mental, creatividad y
      sobrepensamiento desde una mirada honesta y personal. No separo estos
      roles: la tecnología y la creatividad forman parte del mismo propósito.
    </p>
  </div>
  <div>
    <h2 class="text-xl font-bold">Trabajos</h2>
    <ul
      class="mt-3 text-justify text-base hyphens-auto flex flex-col gap-1 divide-y divide-font/20"
    >
      <li class="p-2 flex justify-between items-center">
        <div class="w-20">
          <span
            class="bg-green-800 text-primary px-1 text-xs font-semibold align-middle inline-block rounded-sm uppercase tracking-tighter"
          >
            Agency
          </span>
        </div>
        <p class="w-full ml-4">mblcdev</p>
        <span class="inline-block text-nowrap"> 10-07-2024 </span>
      </li>
      <li class="p-2 flex justify-between items-center">
        <div class="w-20">
          <span
            class="bg-font text-primary px-1 text-xs font-semibold align-middle inline-block rounded-sm uppercase tracking-tighter"
          >
            SAAS
          </span>
        </div>
        <p class="w-full ml-4">MB Inventory</p>
        <span class="inline-block text-nowrap"> **-07-2025 </span>
      </li>
      <li class="p-2 flex justify-between items-center">
        <div class="w-20">
          <span
            class="bg-font text-primary px-1 text-xs font-semibold align-middle inline-block rounded-sm uppercase tracking-tighter"
          >
            SAAS
          </span>
        </div>
        <p class="w-full ml-4">Generador de Contratos con IA</p>
        <span class="inline-block text-nowrap"> **-07-2025 </span>
      </li>
      <li class="p-2 flex justify-between items-center">
        <div class="w-20">
          <span
            class="bg-blue-700 text-primary px-1 text-xs font-semibold align-middle inline-block rounded-sm uppercase tracking-tighter"
          >
            Website
          </span>
        </div>
        <p class="w-full mx-4">Mad Exhibitions</p>
        <span class="inline-block text-nowrap"> 12-04-2025 </span>
      </li>
    </ul>
    <div
      class="border border-font/10 mt-4 rounded-sm h-full sm:h-80 flex flex-col sm:flex-row p-2 gap-10"
    >
      <div class="w-full h-full flex justify-center items-center">
        <img
          src="/cover.png"
          alt="cover de libro el diario del otro yo autor sombra de mblcdev.com"
          title="cover de libro el diario del otro yo autor sombra de mblcdev.com"
          class="h-60 aspect-auto mix-blend-multiply drop-shadow-lg"
        />
      </div>
      <div class="flex justify-center flex-col">
        <span class="text-green-700 text-sm">En Producción</span>
        <h2 class="font-bold text-lg uppercase tracking-wide">
          El Diario del otro yo
        </h2>
        <p class="text-base font-light my-2">
          Una obra íntima y reflexiva que se adentra en los rincones ocultos de
          la mente a través de un personaje ficticio llamado Sombra.
        </p>
        <strong class="uppercase text-base">Capítulos Recientes</strong>
        <ul class="flex flex-col gap-2 mt-2">
          <li class="border-b border-font/20 flex justify-between">
            <a href="https://mblcdev.com/books/chapter-1" target="_blank">
              Capitulo 01
            </a>
            <p>2025</p>
          </li>
          <li class="border-b border-font/20 flex justify-between">
            <a href="https://mblcdev.com/books/chapter-2" target="_blank">
              Capitulo 02</a
            >
            <p>2025</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div>
    <h2 class="text-xl font-bold">Mi Vision</h2>
    <p class="mt-2 text-justify text-base hyphens-auto">
      Mi objetivo no es solo crecer, sino crear un proyecto sólido y coherente
      que se imponga por calidad e identidad propia. Busco que la agencia sea
      referente sin copiar y que la narrativa conecte por autenticidad.
    </p>
  </div>
  <div>
    <h2 class="text-xl font-bold">Colabora conmigo</h2>
    <p class="mt-2 text-justify text-base hyphens-auto">
      Trabajo con empresas, creativos e inversores que valoran tanto la
      estrategia como la autenticidad. Si buscas resultados concretos y un
      enfoque real, este es el lugar para empezar.
    </p>
    <div class="mt-4">
      <h3 class="font-semibold text-lg">Contact</h3>
      <div class="flex flex-col mt-1 gap-1">
        <a
          href="mailto:antonio@mblcdev.com"
          target="_blank"
          title="Correo electrónico de 27te"
          rel="noopener noreferrer"
          target="_blank"
          class="font-medium text-sm text-font/80 underline"
        >
          antonio@mblcdev.com
        </a>
        <a
          href="https://github.com/27te"
          title="27te Github"
          class="text-sm font-medium text-font/80 underline"
          target="_blank"
          rel="noopener noreferrer"
        >
          @27te-Github
        </a>
        <a
          href="https://www.linkedin.com/in/mblcdev"
          title="27te LinkdIn"
          class="text-sm font-medium text-font/80 underline"
          target="_blank"
          rel="noopener noreferrer"
        >
          @27te-LinkdIn
        </a>
      </div>
    </div>
  </div>
</section>
