<section
  class="relative flex items-center flex-col overflow-hidden min-h-screen bg-[url(/bg.png)] bg-fixed bg-center bg-cover mask-b-from-0"
>
  <h1
    class="text-font font-extrabold text-8xl sm:text-[10rem] md:text-[13rem] lg:text-[15rem] absolute bottom-28 lg:bottom-8"
  >
    ANTONIO
  </h1>
</section>
