<button
  class="fixed bottom-5 right-5 transition-all duration-200 px-4 py-4 bg-font text-primary font-medium text-lg rounded-lg"
  id="btn-up"
>
  👆
</button>

<script>
  const btnUp = document.getElementById("btn-up") as HTMLButtonElement;

  btnUp.addEventListener("click", function () {
    window.scrollTo({
      top: 0,
      behavior: "smooth",
    });
  });
  window.addEventListener("scroll", function () {
    if (window.scrollY > 100) {
      btnUp.classList.remove("hidden");
    } else {
      btnUp.classList.add("hidden");
    }
  });
</script>
