<section class="min-h-screen flex justify-center items-center flex-col">
  <img
    src="/27te.webp"
    alt="27te profile picture"
    class="mix-blend-multiply h-96 aspect-auto"
    title="27te profile picture"
  />
  <h2 class="text-9xl text-font font-medium text-shadow-lg">27te</h2>
  <a
    href="https://github.com/27te"
    title="27te Github"
    class="text-sm bg-font text-primary px-1 rounded-full"
  >
    Antonio
  </a>
</section>
