<section class="flex items-center flex-col mt-10">
  <div class="relative inline-block">
    <img
      src="/27te.webp"
      alt="27te profile picture"
      class="h-96 aspect-auto"
      title="27te profile picture"
    />

    <!-- Badges -->
    <span
      class="font-medium select-none absolute top-20 left-14 bg-font text-primary text-sm px-2 py-1 rounded-full"
      >CEO</span
    >
    <span
      class="font-medium select-none absolute top-2 right-14 bg-font text-primary text-sm px-2 py-1 rounded-full"
      >Escritor</span
    >
    <span
      class="font-medium select-none absolute bottom-2 -left-2 bg-font text-primary text-sm px-2 py-1 rounded-full"
      >Desarrollador</span
    >
    <span
      class="font-medium select-none absolute bottom-28 right-12 bg-font text-primary text-sm px-2 py-1 rounded-full"
      >Cofundador</span
    >
  </div>

  <h1 class="text-9xl text-font font-medium text-shadow-lg mt-5">27te</h1>
  <p class="text-base text-justify hyphens-auto">
    Soy Antonio Aranibar Leandro (27te), CEO y cofundador de mblcdev, una
    agencia de desarrollo de software con foco en innovación y crecimiento. Este
    portafolio muestra mi trabajo y mi visión, que combinan la estrategia para
    construir productos escalables con una mirada personal y creativa que
    también me define.
  </p>
</section>
