---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>27te</title>
    <meta name="description" content="Founder & CTO de mblcdev & clainev" />
  </head>
  <body class="bg-primary">
    <main class="max-w-[70ch] mx-auto px-4">
      <slot />
    </main>
  </body>
</html>
