---
import "../styles/global.css";
import Top from "../components/Top.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <title>27te</title>
    <meta name="description" content="Founder & CTO de mblcdev & clainev" />
  </head>
  <body class="bg-primary">
    <slot />
    <Top />
    <Footer />
  </body>
</html>

<script>
  import Lenis from "lenis";
  const lenis = new Lenis();

  function raf(time: any) {
    lenis.raf(time);
    requestAnimationFrame(raf);
  }

  requestAnimationFrame(raf);
</script>
